html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
div,
span {
  font-family: sans-serif;
}

.topbar {
  height: 56px;
  width: 100%;
  background-color: #202020;
  position: fixed;
  top: 0;
  z-index: 9999 !important;
  width: 100%;
}

.rest {
  margin-top: 56px;
}

.yt-icon-1::after {
  content: "TR";
  color: white;
  position: absolute;
  font-size: 10px;
  top: 7px;
  right: -18px;
}

.text-input-ara {
  background-color: black;
  padding: 10px;
  outline: 0;
  border: 1px solid #303030 !important;
  color: white;
}

.leftbar {
  width: 74px;
  background-color: #212121;
  height: calc(100vh - 56px);
  position: fixed;
  overflow-y: auto;
  z-index: 9999999 !important;
  top: 56px;
}

.leftbar > div > p {
  font-size: 10px;
  text-align: center;
  color: white;
}

.leftbar > div:hover {
  background-color: rgb(54, 54, 54);
}

.leftbar-long {
  background-color: #212121;
  height: calc(100vh - 56px);
  color: white;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 9999999 !important;
  top: 56px;
  left: 0;
}

.leftbar-long > div > div > p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.leftbar-long > div {
  display: flex;
  align-items: center;
  min-height: 54px;
}

.leftbar-long > div:hover {
  background-color: rgb(54, 54, 54);
}

.text-input-ara::placeholder {
  color: white;
}

.categories {
  height: 58px;
  background-color: #212121fa;
  border-bottom: 1px solid #ffffff1a;
  border-top: 1px solid #ffffff1a;
  top: 56px;
  width: calc(100vw - 74px);
  z-index: 99999 !important;
  position: sticky;
  transition: 0.4s;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
}

.category {
  background-color: #ffffff1a;
  color: white;
  white-space: nowrap;
  border-radius: 16px;
  padding: 8px 12px;
  border: 1px solid #ffffff1a;
  font-size: 14px;
  margin-left: 15px;
}

.category.active {
  background-color: white;
  color: black;
}

.right-div {
  margin-left: 74px;
  width: calc(100% - 74px);
  color: white;
}

.yayinlar {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 4px solid #ffffff1a;
  border-bottom: 4px solid #ffffff1a;
}

.yayin {
  width: 29vw;
  min-width: 320px;
  background-color: #212121;
  border: 1px solid #ffffff1a;
}

.yayin span,
.yayin p {
  font-size: 12px;
  color: #ddd;
}

.yayin .text-yayin {
  font-size: 0.9rem;
}

.left-arrow {
  background-color: #212121fa;
  height: 56px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
}

.left-arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  right: -15px;
  top: 0;
  height: 56px;
  background: linear-gradient(
    to right,
    #212121fa 20%,
    rgba(255, 255, 255, 0) 80%
  );
}

.right-arrow {
  background-color: #212121fa;
  height: 56px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
}

.right-arrow::before {
  content: "";
  position: absolute;
  width: 15px;
  left: -15px;
  top: 0;
  height: 56px;
  background: linear-gradient(
    to left,
    #212121fa 20%,
    rgba(255, 255, 255, 0) 80%
  );
}

.down-div:hover {
  background-color: #212121;
}

.vid {
  width: 21.5vw;
  color: white;
  margin-top: 30px;
}

.channel {
  border-radius: 50%;
  width: 36px;
}

.vid-photo {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .vid {
    width: 28vw;
  }
}

@media only screen and (max-width: 767px) {
  .categories {
    width: 100vw;
    margin-left: 0;
  }
  .right-div {
    margin-left: 0;
    width: 100vw;
  }
  .vids {
    width: 100%;
  }
  .vid {
    width: 44vw;
  }
}

@media only screen and (max-width: 550px) {
  .vid {
    width: 64vw;
  }
}
